---
import MainLayout from '../layouts/MainLayout.astro';
---
<MainLayout title="Docs">
  <h1 class="text-3xl font-bold text-blue-500 underline">
    if you see text blue and underlined, it's success!
  </h1>
</MainLayout>